KargaAspNew/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54785/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54785/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_kayitol_InputMessage">
    <wsdl:part name="parameters" element="tns:kayitol" />
  </wsdl:message>
  <wsdl:message name="IService1_kayitol_OutputMessage">
    <wsdl:part name="parameters" element="tns:kayitolResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_giris_InputMessage">
    <wsdl:part name="parameters" element="tns:giris" />
  </wsdl:message>
  <wsdl:message name="IService1_giris_OutputMessage">
    <wsdl:part name="parameters" element="tns:girisResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_guvenlikkodugndr_InputMessage">
    <wsdl:part name="parameters" element="tns:guvenlikkodugndr" />
  </wsdl:message>
  <wsdl:message name="IService1_guvenlikkodugndr_OutputMessage">
    <wsdl:part name="parameters" element="tns:guvenlikkodugndrResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_iletisimformual_InputMessage">
    <wsdl:part name="parameters" element="tns:iletisimformual" />
  </wsdl:message>
  <wsdl:message name="IService1_iletisimformual_OutputMessage">
    <wsdl:part name="parameters" element="tns:iletisimformualResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sifremiunuttum_InputMessage">
    <wsdl:part name="parameters" element="tns:sifremiunuttum" />
  </wsdl:message>
  <wsdl:message name="IService1_sifremiunuttum_OutputMessage">
    <wsdl:part name="parameters" element="tns:sifremiunuttumResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_bilgigetir_InputMessage">
    <wsdl:part name="parameters" element="tns:bilgigetir" />
  </wsdl:message>
  <wsdl:message name="IService1_bilgigetir_OutputMessage">
    <wsdl:part name="parameters" element="tns:bilgigetirResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_tcnoctrl_InputMessage">
    <wsdl:part name="parameters" element="tns:tcnoctrl" />
  </wsdl:message>
  <wsdl:message name="IService1_tcnoctrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:tcnoctrlResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="kayitol">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/kayitol" message="tns:IService1_kayitol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/kayitolResponse" message="tns:IService1_kayitol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="giris">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/giris" message="tns:IService1_giris_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/girisResponse" message="tns:IService1_giris_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="guvenlikkodugndr">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/guvenlikkodugndr" message="tns:IService1_guvenlikkodugndr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/guvenlikkodugndrResponse" message="tns:IService1_guvenlikkodugndr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="iletisimformual">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/iletisimformual" message="tns:IService1_iletisimformual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/iletisimformualResponse" message="tns:IService1_iletisimformual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sifremiunuttum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sifremiunuttum" message="tns:IService1_sifremiunuttum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sifremiunuttumResponse" message="tns:IService1_sifremiunuttum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="bilgigetir">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/bilgigetir" message="tns:IService1_bilgigetir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/bilgigetirResponse" message="tns:IService1_bilgigetir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="tcnoctrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/tcnoctrl" message="tns:IService1_tcnoctrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/tcnoctrlResponse" message="tns:IService1_tcnoctrl_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="kayitol">
      <soap:operation soapAction="http://tempuri.org/IService1/kayitol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="giris">
      <soap:operation soapAction="http://tempuri.org/IService1/giris" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guvenlikkodugndr">
      <soap:operation soapAction="http://tempuri.org/IService1/guvenlikkodugndr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iletisimformual">
      <soap:operation soapAction="http://tempuri.org/IService1/iletisimformual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sifremiunuttum">
      <soap:operation soapAction="http://tempuri.org/IService1/sifremiunuttum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bilgigetir">
      <soap:operation soapAction="http://tempuri.org/IService1/bilgigetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tcnoctrl">
      <soap:operation soapAction="http://tempuri.org/IService1/tcnoctrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:54785/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>